.App {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
 /* it used when position fixed or absolute, to determine the layer, and her -1 mean it will be below every thing we render */
  z-index:-1
}
